#///////////////////////////
# Cocos Creator 3.x Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native/
.creator/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# IDE
#//////////////////////////
.vscode/
.idea/

#//////////////////////////
# Old/Backup files
#//////////////////////////
assets_v3/
*.bak